### 시계열 데이터 타입 
- 시간 데이터를 의미 
- 년도, 월, 일, 시, 분, 초, 요일 등등 여러개의 데이터의 혼합 형태
- 시계열 데이터를 생성 
    - datetime 라이브러리를 이용하여 시계열 데이터 생성
    - pandas 라이브러리를 이용하여 시계열 데이터 생성

In [1]:
# 라이브러리 로드 
from datetime import datetime

In [2]:
time_data = "2024-05-04 17:21:00"
print(type(time_data))

<class 'str'>

In [3]:
# 문자열 데이터를 시계열 데이터 타입으로 변경(parsing)
time = datetime.strptime(
    time_data, 
    "%Y-%m-%d %H:%M:%S"
)
print(time)
print(type(time))

2024-05-04 17:21:00
<class 'datetime.datetime'>

In [4]:
time_data2 = "2024년 05월"
time2 = datetime.strptime(
    time_data2, 
    "%Y년 %m월"
)
print(time2)

2024-05-01 00:00:00

In [6]:
# 시계열 데이터를 문자열 데이터로 변경 (요일 데이터를 추출)
time2.strftime(
    '%w'
)

'3'

### datetime에서 사용되는 format
- %Y : 년도 전체를 표기('2024')
- %y : 년도를 축약해서 표기('24')
- %m : 월을 숫자로 표기('01')
- %b : 축약된 월의 이름('Mar')
- %B : 월의 이름('March')
- %d : 일을 숫자로 표기('20')
- %H : 24시를 기준으로 시를 표기('17')
- %I : 12시를 기준으로 시를 표기('05')
- %p : AM/PM 표기
- %M : 분을 표기 
- %S : 초를 표기
- %a : 요일의 이름을 축약해서 표기('Wed')
- %A : 요일의 이름을 표기('Wednesday')
- %w : 요일을 숫자로 표기(0:일, 1:월,..., 6:토)

In [7]:
import pandas as pd

In [8]:
pd.Timedelta(100)

Timedelta('0 days 00:00:00.000000100')

In [9]:
pd.Timedelta(days=100)

Timedelta('100 days 00:00:00')

In [10]:
pd.Timestamp(100)

Timestamp('1970-01-01 00:00:00.000000100')

In [11]:
pd.Timestamp(year=2024, month=5, day=4)

Timestamp('2024-05-04 00:00:00')

In [12]:
# pandas를 이용하여 문자열 데이터를 시계열 데이터로 변경 
time_data3 = "2024-05-04"
# pandas에서 데이터의 타입을 변경하는 함수들의 특징 
time3 = pd.to_datetime(time_data3)
time3

Timestamp('2024-05-04 00:00:00')

In [15]:
time_data4 = "2024년05월04일"
time4 = pd.to_datetime(time_data4, format='%Y년%m월%d일')
time4

Timestamp('2024-05-04 00:00:00')