In [ ]:
## 라이브러리 설치 
!pip install pandas

In [ ]:
## 라이브러리 로드 
import pandas as pd

In [ ]:
# 1차원 데이터 형인 Series를 생성 
pd_series = pd.Series([5000, 6000, 6500, 6500])

In [ ]:
print(pd_series)

In [ ]:
# Series는 Class이고 Series 안에는 적어도 2개의 변수가 존재 
print(pd_series.index)
print(pd_series.values)

In [ ]:
pd_series2 = pd.Series([500, 1000, 1000, 1200])

In [ ]:
pd_series2

In [ ]:
# 스리즈 데이터들의 합 (각 원소들끼리 합)
print(pd_series)
print(pd_series2)

In [ ]:
print(pd_series + pd_series2)

In [ ]:
# list데이터들의 합은 두개의 리스트가 확장 
_list = [1,2,3,4]
_list2 = [10, 20, 30, 40]

In [ ]:
print(_list + _list2)

In [ ]:
## Series 형태의 데이터에 index 값을 지정 
## 주의할 점 : 데이터의 개수와 인덱스의 개수는 같아야 된다. 
pd_series3 = pd.Series(
    [5000, 6000, 6500, 6500], 
    index = ['아메리카노', '카페라떼', '카페모카', '카푸치노']
)

In [ ]:
pd_series3

In [ ]:
## 데이터의 개수와 인덱스의 개수가 다르면 에러 발생
pd_series4 = pd.Series(
    [5000, 6000, 6500, 6500], 
    index = ['아메리카노', '카페라떼', '카페모카']
)

In [ ]:
## 2차원 데이터형인 DataFrame 생성 
data = [
    [1,2,3], 
    [4,5,6], 
    [7,8,9]
]
df = pd.DataFrame(data)

In [ ]:
df

In [ ]:
## DataFrame라는 Class에는 적어도 3개의 변수는 존재
print(df.values)
print(df.index)
print(df.columns)

### DataFrame을 dict 형태로 간단하게 표현
- df =  {
    column1 : Series, 
    column2 : Series2
}
- df['column1'] -> Series

In [ ]:
df[1]

In [ ]:
## 컬럼의 이름을 변경 
## case1 (DataFrame 안에 있는 rename 함수를 이용)
## rename()
## 매개변수 index -> 인덱스를 값을 변경할때 사용 dict 형태 데이터를 인자 값으로 사용
## 매개변수 columns -> 컬럼의 값을 변경할때 사용 dict 형태 데이터를 인자 값으로 사용
## 매개변수 inplace -> 기본값(False) : 기준이 되는 데이터프레임 변경하지 않는다. 
## True로 인자값을 설정하면 데이터프레임을 변경(출력이 존재하지 않는다. )
df.rename(
    columns={
        0 : 'A', 
        1 : 'B', 
        2 : 'C'
    }, 
    inplace = True
)

In [ ]:
df

In [ ]:
## case2(DataFrame 안에 있는 변수의 데이터를 변경)
df.columns = ['a', 'b', 'c']

In [ ]:
df

In [ ]:
df['c']

In [ ]:
# openapi, DataBase 에서 데이터를 로드하는 경우 
# Data의 형태 [{}, {}] or {key:[], key1:[]}
data2 = [
    {
        'name' : 'test', 
        'age' : 20
    }, 
    {
        'name' : 'test2', 
        'age' : 30
    }
]
df2 = pd.DataFrame(data2)

In [ ]:
df2

In [ ]:
data3 = {
    'name' : ['test', 'test2', 'test3'], 
    'age' : [20, 30, 40]
}
df3 = pd.DataFrame(data3)

In [ ]:
df3

- loc[인덱스의 조건, 컬럼의 조건]
    - 인덱스의 값을 기준으로 데이터프레임을 필터링
    - 컬럼의 값을 기준으로 데이터프레임을 필터링
- iloc[인덱스의 조건, 컬럼의 조건]
    - 인덱스의 위치를 기준으로 데이터프레임을 필터링
    - 컬럼의 위치를 기준으로 데이터프레임을 필터링

In [ ]:
## df3에서 30이라는 데이터만 출력 
## loc 조건 -> index의 값이 1, columns의 값이 age
df3.loc[1, 'age']

In [ ]:
# df3['age']
df3.loc[: , 'age']

In [ ]:
df3.loc[1]

In [ ]:
## iloc를 이용하여 30 데이터를 출력
## index는 위치는 1, columns 위치는 1
df3.iloc[1, 1]

In [ ]:
## df3에서 나이가 30살 이상인 데이터만 출력
## 인덱스의 조건 : age가 30 이상인 경우
## 컬럼의 조건 : 전체
# df3.loc[:,'age']
flag = df3['age'] >= 30
df3.loc[flag]

In [ ]:
## bool형태 데이터의 부정 -> not()
not(True)

In [ ]:
# 스리즈 데이터에서 데이터의 타입이 bool인 데이터에서 부정 
~flag

In [ ]:
df3.loc[~flag]

### 결측치 
1. 데이터프레임에서 value 값이 존재하지 않는 경우 
2. NaN으로 표시

In [ ]:
import numpy as np

In [ ]:
data4 = {
    'A' : [1, 2, 3, 4, np.nan],
    'B' : [1, 2, np.nan, 4, 5], 
    'C' : [np.nan, 2, 3, 4, 5]
}
df4 = pd.DataFrame(data4)

In [ ]:
df4

In [ ]:
## 결측치가 존재하는가?
## 데이터프레임의 정보를 확인
df4.info()

In [71]:
## 결측치의 유무를 확인 
## 존재 여부 판단하는 키워드(is) + 결측치(na) -> isna()
## sum() : 합계를 구하는 함수 
## axis 매개변수 : 기본값(0|rows) : 행의 값들을 모두 더한다. 
##                1|columns : 열의 값들을 모두 더한다. 
df4.isna().sum(axis=1)

0    1
1    0
2    1
3    0
4    1
dtype: int64

In [72]:
## 결측치를 제거 
## 제거 키워드(drop) + 결측치(na) -> dropna(axis = {0, 1} )
## axis -> 0 : 결측치가 포함된 행을 제거 (기본값)
##         1 : 결측치가 포함된 열을 제거 
df4.dropna()

     A    B    C
1  2.0  2.0  2.0
3  4.0  4.0  4.0