In [ ]:
## 라이브러리 설치 
!pip install pandas

In [ ]:
## 라이브러리 로드 
import pandas as pd

In [ ]:
# 1차원 데이터 형인 Series를 생성 
pd_series = pd.Series([5000, 6000, 6500, 6500])

In [ ]:
print(pd_series)

In [ ]:
# Series는 Class이고 Series 안에는 적어도 2개의 변수가 존재 
print(pd_series.index)
print(pd_series.values)

In [ ]:
pd_series2 = pd.Series([500, 1000, 1000, 1200])

In [ ]:
pd_series2

In [ ]:
# 스리즈 데이터들의 합 (각 원소들끼리 합)
print(pd_series)
print(pd_series2)

In [ ]:
print(pd_series + pd_series2)

In [ ]:
# list데이터들의 합은 두개의 리스트가 확장 
_list = [1,2,3,4]
_list2 = [10, 20, 30, 40]

In [ ]:
print(_list + _list2)

In [ ]:
## Series 형태의 데이터에 index 값을 지정 
## 주의할 점 : 데이터의 개수와 인덱스의 개수는 같아야 된다. 
pd_series3 = pd.Series(
    [5000, 6000, 6500, 6500], 
    index = ['아메리카노', '카페라떼', '카페모카', '카푸치노']
)

In [ ]:
pd_series3

In [ ]:
## 데이터의 개수와 인덱스의 개수가 다르면 에러 발생
pd_series4 = pd.Series(
    [5000, 6000, 6500, 6500], 
    index = ['아메리카노', '카페라떼', '카페모카']
)

In [ ]:
## 2차원 데이터형인 DataFrame 생성 
data = [
    [1,2,3], 
    [4,5,6], 
    [7,8,9]
]
df = pd.DataFrame(data)

In [ ]:
df

In [ ]:
## DataFrame라는 Class에는 적어도 3개의 변수는 존재
print(df.values)
print(df.index)
print(df.columns)

### DataFrame을 dict 형태로 간단하게 표현
- df =  {
    column1 : Series, 
    column2 : Series2
}
- df['column1'] -> Series

In [ ]:
df[1]

In [ ]:
## 컬럼의 이름을 변경 
## case1 (DataFrame 안에 있는 rename 함수를 이용)
## rename()
## 매개변수 index -> 인덱스를 값을 변경할때 사용 dict 형태 데이터를 인자 값으로 사용
## 매개변수 columns -> 컬럼의 값을 변경할때 사용 dict 형태 데이터를 인자 값으로 사용
## 매개변수 inplace -> 기본값(False) : 기준이 되는 데이터프레임 변경하지 않는다. 
## True로 인자값을 설정하면 데이터프레임을 변경(출력이 존재하지 않는다. )
df.rename(
    columns={
        0 : 'A', 
        1 : 'B', 
        2 : 'C'
    }, 
    inplace = True
)

In [ ]:
df

In [ ]:
## case2(DataFrame 안에 있는 변수의 데이터를 변경)
df.columns = ['a', 'b', 'c']

In [ ]:
df

In [ ]:
df['c']

In [ ]:
# openapi, DataBase 에서 데이터를 로드하는 경우 
# Data의 형태 [{}, {}] or {key:[], key1:[]}
data2 = [
    {
        'name' : 'test', 
        'age' : 20
    }, 
    {
        'name' : 'test2', 
        'age' : 30
    }
]
df2 = pd.DataFrame(data2)

In [ ]:
df2

In [ ]:
data3 = {
    'name' : ['test', 'test2', 'test3'], 
    'age' : [20, 30, 40]
}
df3 = pd.DataFrame(data3)

In [ ]:
df3

- loc[인덱스의 조건, 컬럼의 조건]
    - 인덱스의 값을 기준으로 데이터프레임을 필터링
    - 컬럼의 값을 기준으로 데이터프레임을 필터링
- iloc[인덱스의 조건, 컬럼의 조건]
    - 인덱스의 위치를 기준으로 데이터프레임을 필터링
    - 컬럼의 위치를 기준으로 데이터프레임을 필터링

In [ ]:
## df3에서 30이라는 데이터만 출력 
## loc 조건 -> index의 값이 1, columns의 값이 age
df3.loc[1, 'age']

In [ ]:
# df3['age']
df3.loc[: , 'age']

In [ ]:
df3.loc[1]

In [ ]:
## iloc를 이용하여 30 데이터를 출력
## index는 위치는 1, columns 위치는 1
df3.iloc[1, 1]

In [ ]:
## df3에서 나이가 30살 이상인 데이터만 출력
## 인덱스의 조건 : age가 30 이상인 경우
## 컬럼의 조건 : 전체
# df3.loc[:,'age']
flag = df3['age'] >= 30
df3.loc[flag]

In [ ]:
## bool형태 데이터의 부정 -> not()
not(True)

In [ ]:
# 스리즈 데이터에서 데이터의 타입이 bool인 데이터에서 부정 
~flag

In [ ]:
df3.loc[~flag]

### 결측치 
1. 데이터프레임에서 value 값이 존재하지 않는 경우 
2. NaN으로 표시

In [ ]:
import numpy as np

In [ ]:
data4 = {
    'A' : [1, 2, 3, 4, np.nan],
    'B' : [1, 2, np.nan, 4, 5], 
    'C' : [np.nan, 2, 3, 4, 5]
}
df4 = pd.DataFrame(data4)

In [ ]:
df4

In [ ]:
## 결측치가 존재하는가?
## 데이터프레임의 정보를 확인
df4.info()

In [ ]:
## 결측치의 유무를 확인 
## 존재 여부 판단하는 키워드(is) + 결측치(na) -> isna()
## sum() : 합계를 구하는 함수 
## axis 매개변수 : 기본값(0|rows) : 행의 값들을 모두 더한다. 
##                1|columns : 열의 값들을 모두 더한다. 
df4.isna().sum(axis=0)

In [ ]:
## 결측치를 제거 
## 제거 키워드(drop) + 결측치(na) -> dropna(axis = {0, 1} )
## axis -> 0(rows) : 결측치가 포함된 행을 제거 (기본값)
##         1(columns) : 결측치가 포함된 열을 제거 
df4.dropna(axis=1)

In [ ]:
## 결측치를 특정한 데이터로 채워준다. 
## 채워준다 키워드(fill) + 결측치(na) -> fillna()
## fillna(data) : 결측치를 data로 채워준다. 
## fillna(method = {'ffill' | 'bfill'} )
    # ffill : 결측치 전의 데이터로 결측치를 채워준다. 
    # bfill : 결측치 후의 데이터로 결측치를 채워준다. 
df4.fillna(10)

In [ ]:
df4.fillna(method='ffill')

In [ ]:
df4.fillna(method='bfill')

In [ ]:
## 데이터의 통계요약정보를 확인하는 함수 
df4.describe()

### 외부의 데이터파일을 로드 
- 엑셀파일 
    - read_excel()
        - xls, xlsx 파일들을 로드 할때 사용이 되는 함수
        - 추가적으로 라이브러리(openpyxl) 설치가 필요한 경우가 존재 
- 그 외의 데이터파일
    - read_csv()
        - csv, tsv 파일들을 로드 할때 사용이 되는 함수 
    - read_json()
        - json 파일들을 로드 할때 사용이 되는 함수 
    - read_xml()
        - xml 파일들을 로드 할때 사용이 되는 함수 
    - encoding 매개변수
        - 기본값(UTF-8) 
        - CP949, EUC-KR : 데이터들이 한글인 경우 UTF-8 에러 발생하는 경우에 사용

#### 파일의 경로 
1. 절대 경로
    - 절대적인 주소 
    - 환경이 변하더라도 같은 위치를 지정
    - EX) c:/users/admin/document/a.txt, https://www.google.com
2. 상대 경로
    - 상대적인 주소
    - 환경이 변할때 위치도 같이 변화
    - ./ : 현재 작업중인 디렉토리
    - ../ : 상위 디렉토리로 이동
    - 디렉토리명/ : 하위 디렉토리로 이동
    - ex) 상위 디렉토리 이동(../) -> csv 디렉토리 이동(csv/) -> ../csv/corona.csv

In [ ]:
## 절대 경로를 이용하여 데이터파일 로드 
corona = pd.read_csv(r"D:\python\ezen_2403\python\csv\corona.csv")

In [ ]:
## 상대 경로를 이용하여 데이터파일을 로드 
## 상위 디렉토리 이동(../) -> csv 하위 디렉토리 이동(csv/) -> corona.csv
corona2 = pd.read_csv("../csv/corona.csv")

In [ ]:
corona2

In [ ]:
## 상위의 n개의 데이터만 확인 
corona.head()

In [ ]:
## 하위의 n개의 데이터만 확인 
corona.tail(3)

In [91]:
## 데이터프레임의 정보를 확인 
corona.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 820 entries, 0 to 819
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   등록일시    820 non-null    object
 1   총사망자    820 non-null    int64
 2   총확진자    820 non-null    int64
 3   게시글번호   820 non-null    int64
 4   기준일     820 non-null    int64
 5   기준시간    820 non-null    object
 6   수정일시    817 non-null    object
 7   누적의심자   692 non-null    float64
 8   누적확진율   623 non-null    float64
 9   일일사망자   820 non-null    int32
 10  일일확진자   820 non-null    float64
dtypes: float64(3), int32(1), int64(4), object(3)
memory usage: 67.4+ KB

In [ ]:
## 특정한 컬럼을 제거 
## drop( 조건 , axis= {0|1} ) : 특정한 행이나 열을 제거할때 사용
### axis 매개변수 : 행을 제거할 것인가(0, rows), 열을 제거할것인가(1, columns)
### inplace 매개변수 : 기본값(False) -> Class 안에 데이터를 변경하지 않는다. 
###                     True로 변경 -> Class 안에 데이터를 변경한다. 
corona.drop( 'Unnamed: 0' , axis = 1, inplace=True)

In [ ]:
## 컬럼의 이름을 변경 
## case1 (rename() 함수를 이용)
corona.rename(
    columns = {
        'createDt' : '등록일시', 
        'deathCnt' : '총사망자', 
        'decideCnt' : '총확진자', 
        'seq' : '게시글번호', 
        'stateDt' : '기준일', 
        'stateTime' : '기준시간', 
        'updateDt' : '수정일시', 
        'accExamCnt' : '누적의심자', 
        'accDefRate' : '누적확진율'
    }
)

In [ ]:
# case2 (Class 안에 columns 변수의 데이터를 변경)
corona.columns = ['등록일시', '총사망자', '총확진자', '게시글번호', '기준일',
                  '기준시간', '수정일시', '누적의심자', '누적확진자']

In [ ]:
corona.head(1)

In [ ]:
## 결측치의 개수를 확인 
## 존재 여부 판단(is) + 결측치(na) --> 합계 sum()
corona.isna().sum()

In [ ]:
## 누적확진자 컬럼의 이름을 누적확진율로 변경 
corona.rename(columns = {
    '누적확진자' : '누적확진율'
}, inplace=True)

In [92]:
## 누적의심자의 데이터 결측치인 데이터만 출력 
## loc[인덱스의 조건(1차원 데이터|단일데이터), 컬럼의 조건(1차원 데이터|단일데이터)]
## 인덱스의 조건 : 누적의심자가 결측치인 ()
## 컬럼의 조건 : 전체
flag = corona['누적의심자'].isna()
corona.loc[flag]

,등록일시,총사망자,총확진자,게시글번호,기준일,기준시간,수정일시,누적의심자,누적확진율,일일사망자,일일확진자
692,2022-02-01 09:06:24.411,6772,864026,776,20220201,00:00,2022-02-09 13:04:21.424,NaN,NaN,17,18338.0
693,2022-02-02 09:04:49.92,6787,884294,777,20220202,00:00,2022-02-09 13:04:29.013,NaN,NaN,15,20268.0
694,2022-02-03 08:46:14.856,6812,907200,778,20220203,00:00,2022-02-09 13:04:42.741,NaN,NaN,25,22906.0
695,2022-02-04 08:58:40.476,6836,934638,779,20220204,00:00,2022-02-09 13:04:52.382,NaN,NaN,24,27438.0
696,2022-02-05 10:25:08.782,6858,970983,780,20220205,00:00,2022-02-09 13:05:01.221,NaN,NaN,22,36345.0
...,...,...,...,...,...,...,...,...,...,...,...
815,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN,9,12039.0
816,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN,20,9834.0
817,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN,21,5022.0
818,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN,20,6172.0
819,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN,6,13358.0

In [ ]:
## 누적의심자, 누적확진율이 모두 결측치인 데이터만 확인 
flag2 = corona['누적확진율'].isna()
corona.loc[ flag | flag2 ]

In [ ]:
corona.head(3)

In [ ]:
## 등록일시를 기준으로 오름차순 정렬 
## 정렬을 변경하는 함수(sort) + 값(values) -> sort_values()
## ascending 매개변수 : True(기본값) -> 오름차순 정렬 ,  False -> 내림차순 정렬
corona.sort_values(['등록일시'], inplace=True)

In [ ]:
corona.head(3)

In [ ]:
## 인덱스의 값들을 초기화
## 초기화(reset) + 인덱스(index) -> reset_index()
# drop 매개변수 : False(기본값) -> 기존의 인덱스를 컬럼으로 이동, True -> 기존의 인덱스는 제거
corona.reset_index(drop=True, inplace=True)

In [ ]:
corona.head()

In [ ]:
# 리스트 하나 생성 첫번째 데이터는 0
_list = [0]

## 파생변수 일일사망자 추가
## 819번 반복 
# corona.loc[1, '총사망자'] - corona.loc[0, '총사망자']
# corona.loc[2, '총사망자'] - corona.loc[1, '총사망자']
for i in range(1, len(corona), 1):
    data = corona.loc[ i ,'총사망자'] - corona.loc[ i-1 , '총사망자']
    _list.append(data)

In [ ]:
len(_list)

In [ ]:
## 1차원 리스트를 데이터프레임에 새로운 컬럼(파생변수)에 대입 -> dict에 새로운 키(컬럼의 이름) : 벨류(1차원 데이터) 추가  
corona['일일사망자'] = _list

In [ ]:
corona.head()

In [ ]:
# case2 ( shift() 함수를 이용 )
### shift(n) : n만큼 인덱스를 이동(기본값은 1)
corona['일일사망자2'] = (corona['총사망자'] - corona['총사망자'].shift(1)).fillna(0)

In [ ]:
corona.head()

In [ ]:
# case3 ( diff() 함수를 이용 )
### diff(n) : n만큼 인덱스가 이동한 데이터와의 차이를 출력(기본값 1)
corona['일일사망자3'] = corona['총사망자'].diff(1).fillna(0)

In [ ]:
corona.head()

In [ ]:
corona.describe()

In [ ]:
## 일일사망자가 음수인 데이터 : 이상치
flag = corona['일일사망자'] < 0
corona.loc[flag]

In [ ]:
## 인덱스가 444번부터 448번까지의 데이터를 확인 
corona.loc[444:448]

In [ ]:
## 인덱스 445에 등록일시 데이터를 변경 
corona.loc[445, '등록일시'] = "2021-05-31 00:00:00.000"

In [ ]:
corona.loc[445]

#### 복습 
1. 등록일시를 기준으로 오름차순 정렬 변경
2. 인덱스를 초기화하고 기존의 인덱스는 제거 
3. 일일사망자, 일일사망자2, 일일사망자3 컬럼의 제거 
4. 일일사망자 컬럼을 생성하여 shift() 함수를 이용하여 데이터를 대입하고 결측치는 0으로 대체
5. 일일확진자 컬럼을 생성하고 diff() 함수를 이용하여 데이터를 대입하고 결측치는 0으로 대체

In [ ]:
## 오름차순 정렬 변경 
corona = corona.sort_values(['등록일시'], ascending=True)

In [ ]:
## 인덱스를 초기화하고 기존의 인덱스는 제거 
corona = corona.reset_index(drop=True)

In [ ]:
corona = corona.drop(['일일사망자','일일사망자2', '일일사망자3'], axis=1)

In [ ]:
corona['일일사망자'] = (corona['총사망자'] - corona['총사망자'].shift(1)).fillna(0)

In [ ]:
corona['일일확진자'] = corona['총확진자'].diff(1).fillna(0)

In [ ]:
## 특정 컬럼의 데이터의 타입을 변경 
corona['일일사망자'] =  corona['일일사망자'].astype('int')

In [ ]:
## map() : python에 내장된 map() 존재
##         Series에 내장된 map() 존재

## python에 내장된 map() 함수 
## map( 함수명 , 1차원데이터 ) -> 결과물이 mapping형태로 출력 -> 해당 형태를 list 변경해서 확인 
_list = [1, 4, 7]

# 일반 함수 + map()
def change(x):
    result = x ** 2
    return result
list(
    map(
        change, 
        _list
    )
)

In [ ]:
# lambda 함수 : 함수를 선언함과 동시에 호출
list(
    map(
        lambda y : y ** 2, 
        _list
    )
)

- map() - python에 내장된 map() 함수를 호출 -> 결과값은 mapping
- Series.map() - Series에 내장된 map() 함수를 호출 -> 결과값은 Series

In [ ]:
## 일일확진자 데이터를 int형태로 변경 (map() 함수를 이용)

## 일반함수 + map()
def change(x):
    # x의 타입은? -> float
    result = int(x)
    return result
corona['일일확진자'].map(change)

In [ ]:
## lambda + map()
corona['일일확진자'].map(
    lambda y : str(int(y)) + '명'
)

In [ ]:
## 지금까지 한 작업을 엑셀로 저장 
## 데이터의 형태를 변경 (to) + 엑셀(excel) -> to_excel()
## to_excel({파일의 위치 + 파일 이름}, index= {bool})
corona.to_excel("./corona.xlsx")

In [ ]:
!pip install openpyxl