#### Class
- class 선언 -> class 생성 -> class 안에 있는 변수나 함수를 호출

In [ ]:
# class 선언 
class Test:
    # 생성자 함수(__init__)
    def __init__(self, _x, _y):
        # class 안에서 저장될 변수를 생성
        self.x = _x
        self.y = _y

In [ ]:
# 일반적인 변수 
x = 10
print(x)
x = 'test'
print(x)

In [3]:
# class 생성 -> __init__ 함수가 자동적으로 호출
class_1 = Test(10, 3)

In [4]:
# class(class_1) 안에(.) 있는 변수(x , y)를 호출
print(class_1.x)
print(class_1.y)

10
3

In [5]:
# class 생성 
class_2 = Test('test', 'test2')
## class 안에 x라는 변수에 'test'
## class 안에 y라는 변수에는 'test2'

In [6]:
print(class_1.x)
print(class_2.x)

10
test

In [7]:
## class 변수가 존재하는 class 선언
class Test2:
    # 클래스 변수 선언 
    _list = []

    # 생성자 함수 
    def __init__(self, _user, _age):
        self.user = _user
        self.age = _age
        self._list.append(_user)

In [8]:
# 클래스를 생성
class_3 = Test2('test', 20)

In [9]:
print(class_3.user)
print(class_3.age)
print(class_3._list)

test
20
['test']

In [10]:
class_4 = Test2('test2', 30)

In [11]:
print(class_4.user)
print(class_4.age)

test2
30

In [12]:
print(class_4._list)
print(class_3._list)

['test', 'test2']
['test', 'test2']

In [13]:
## class 변수 + 함수 추가 
class Test3:
    def __init__(self, _name, _age, _balance = 0):
        self.name = _name
        self.age = _age
        self.balance = _balance
    # 일을 한다 함수 
    # 매개변수 : 일의 종류 (서빙, 과외, 편의점)
    def work(self, _type):
        # _type에 따라 balance가 증가 
        # 서빙 잔액이 2000000 증가
        # 과외 잔액이 2500000 증가
        # 편의점 잔액이 1800000 증가
        if _type == "서빙":
            cost = 2000000
        elif _type == "과외":
            cost = 2500000
        elif _type == "편의점":
            cost = 1800000
        else:
            return "일의 타입이 등록되어있지 않습니다."
        # 지갑의 잔액을 증가
        self.balance += cost
        return f"{_type} 일을 완료하였습니다. 현재 지갑의 잔액은 {self.balance}입니다."
    # 돈을 쓰자
    # 매개변수 : _type 
    # _type에 따라 지갑의 잔액이 감소
    # 맥스튜디오 : 9800000
    # 지갑 : 5000000
    # 오마카세 : 100000 
    def flex(self, _type):
        if _type == '맥스튜디오':
            cost = 9800000
        elif _type == '지갑':
            cost = 5000000
        elif _type == '오마카세':
            cost = 100000
        else:
            return "등록되지 않은 물품입니다."
        # 현재 지갑이 잔액이 구매하려는 상품의 가격보다 크거나 같은 경우에 구매(잔액이 감소) , 잔액이 부족하다면서 잔액 부족 메시지를 리턴
        if self.balance >= cost:
            # 구매조건 만족 
            # 지갑의 잔액을 감소
            self.balance -= cost
            result = f"{_type}물건 구매 완료. 현재 지금의 잔액은 {self.balance}입니다."
        else:
            result = "지갑의 잔액이 부족"
        return result

In [14]:
## Class 생성 -> 이름, 나이, 잔액(기본값이 0) 인자 
user1 = Test3('kim', 25)
user2 = Test3('park', 30, 100000)

In [15]:
print(user1.balance)
print(user2.balance)

0
100000

In [16]:
#user1이 일을 시작한다 함수 호출
user1.work("서빙")

'서빙 일을 완료하였습니다. 현재 지갑의 잔액은 2000000입니다.'

In [17]:
print(user1.balance)

2000000

In [18]:
# 돈을 쓰자 flex 호출
user1.flex('오마카세')

'오마카세물건 구매 완료. 현재 지금의 잔액은 1900000입니다.'

In [19]:
user2.flex('오마카세')

'오마카세물건 구매 완료. 현재 지금의 잔액은 0입니다.'

In [20]:
user1.flex('지갑')

'지갑의 잔액이 부족'

In [ ]:
user1.work('과외')

In [ ]:
user1.flex('지갑')

In [ ]:
a = "test"
b = 10
c = True

In [ ]:
print(type(a))
print(type(b))
print(type(c))

In [ ]:
# 문자열데이터에서 문자를 모두 대문자로 바꿔주는 함수
a.upper()

In [ ]:
# str Class 생성
class_a = str('test')

In [ ]:
class_a.replace('t', 'T')