In [ ]:
a = 10
print(a)

In [ ]:
# 주석
# 주석의 단축키 : Ctrl + /

In [ ]:
# 변수 생성 
# 변수의 타입 
# 숫자형 (int, float), 문자형 (str), 논리값 (bool)
a = 10
b = "test"
c = True
print(a, type(a))
print(b, type(b))
print(c, type(c))

In [ ]:
# 데이터의 타입을 변경 (숫자 -> 문자)
a = str(a)
print(a, type(a))

In [ ]:
# 문자를 숫자의 타입을 변경
a = int(a)
print(a, type(a))
# 에러 발생 -> ','는 숫자로 변환이 불가능
d = "1,000"
d = int(d)
print(d, type(d))

In [ ]:
# 문자를 불형 데이터 타입으로 변경
# 문자의 데이터의 존재 유무에 따라 True, False
x = "hello"
y = ""
x = bool(x)
y = bool(y)
print(x, y)

In [ ]:
# 숫자를 불형 데이터 타입으로 변경 
# 0이라면 False, 0을 제외하면 True
x = 1
y = 0
x = bool(x)
y = bool(y)
print(x, y)

In [ ]:
## 산술 연산자 
# +, -, *, /, //, %, **
a = 10
b = 3
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a % b)
print(a ** b)

In [ ]:
# 문자형 데이터를 +, * 연산자를 사용하는 경우
x = "Hello"
y = 'World'
print(x + y)
print(x * 3)

In [ ]:
# 불형 데이터에서  + 를 사용
print(True + True)
print(True + False)
print(False + False)

In [ ]:
# 대입 연산자 
# +=, -=, *=, /=, //=, %=, **=
a += 3

In [ ]:
print(a)

In [ ]:
# 비교 연산자 
# 두개의 데이터를 비교하여 참/거짓 형태로 출력 
a = 10
b = 3
print(a == b)
print(a != b)
print(a > b)
print(a < b)

In [ ]:
# 논리 연산자 
# 두개의 논리값(참/거짓)들을 판단하는 연산자
# and (두개의 논리값이 모두 참인 경우에만 참)
print(True & True)
print(True & False)
print(False and False)

In [ ]:
# or (두개의 논리값 중 하나라도 참이면 참을 출력)
print(True | True)
print(True | False)
print(False or False)

In [ ]:
print(not(True))

# title1
## title2
### title3
#### title4

#### 비순서형 리스트 
- list1
- list2
- list3 
    - sub1
    - sub2
#### 순서형 리스트 
1. list1
3. list2
2. list3
    1. sub1
    2. sub2

### 조건문 
- if문
    - if 조건식 : 조건식이 참인 경우에 실행 코드를 작성
    - else : if의 조건식이 거짓일때 실행 코드를 작성
    - (조건식이 여러개라면 elif 조건식를 이용하여 조건식을 추가 )

In [ ]:
a = 11
# 만약에 a가 10보다 작다면?
if a < 10:
    print('a는 10보다 작다')

In [ ]:
a = 'test1'
# 만약에 a가 test 라면?
if a == 'test':
    print('성공')
# a가 test 아니라면?
else:
    print('실패')

In [ ]:
input_id = input('아이디를 입력하시오')
input_pass = input('패스워드를 입력하시오')
print(input_id, input_pass)

# 만약에 input_id가 test 이고 input_pass가 1234라면? -> 성공
if input_id == 'test':
    # input_id가 test 일때
    if input_pass == '1234':
        # input_pass가 1234 일때
        print('성공')
    else:
        # input_pass가 1234가 아닐때
        print('실패')
else : 
    # input_id가 test 아닐때
    print('실패')

if (input_id == 'test') and (input_pass == '1234'):
    print('성공')
else :
    print('실패')

In [ ]:
## 조건식이 여러개인 경우 
score = int(
        input('점수를 입력하시오')
    )

# 만약에 score가 90점 이상이라면?
if score >= 90:
    print('A')
# 만약에 90점 미만이고 80점 이상이라면?
elif score >= 80 :
    print('B')
# 만약에 80점 미만이고 70점 이상이라면?
elif score >= 70:
    print('C')
# score가 70점 미만이라면? (위의 조건식들이 모두 거짓이라면?)
else:
    print('F')

print('프로그램 종료')

### 자료형 데이터 
- 튜플 
    - 자료형 데이터 중 가장 간단한 구조로 이루어진 데이터들의 모음
    - () 를 사용하여 데이터들을 묶어준다. 
    - 튜플 안에 데이터들을 수정, 추가, 삭제가 불가능
- 리스트 
    - [] 를 사용하여 데이터들을 묶어준다. 
    - 튜플과 달리 각각 데이터들을 수정하거나 데이터를 추가, 삭제가 가능
- 딕셔너리 
    - {} 를 사용하여 데이터들을 묶어준다. 
    - key : value 형태로 데이터들을 생성
    - key 값들은 리스트에서 index의 값들과 같은 역할

In [ ]:
# 튜플 데이터를 생성 
a = (1, 'Hello')
b = (3, 3.14)
print(a, type(a))
print(b, type(b))

In [ ]:
# 튜플의 결합
c = a + b
d = a * 3
print(c)
print(d)

In [ ]:
# 튜플 데이터를 강제로 불형 데이터로 변환 
x = ()
y = ('')
z = (1, 'hello')
print(bool(x))
print(bool(y))
print(bool(z))

In [ ]:
# 튜플 안에 데이터가 존재하는가?
z = ()
# if len(z) != 0:
# if 뒤의 조건식에 데이터가 입력된다면 강제적으로 bool형태로 변환
if z:
    print('z에는 데이터가 존재')
else:
    print('z에는 데이터가 존재하지 않는다.')

In [ ]:
## 리스트 데이터를 생성 
list_1 = [20, 10, 40, 30]
list_2 = [10, 20, 40, 30]

In [ ]:
## 리스트의 순서를 오름차순 정렬
list_1.sort()
print(list_1)

In [ ]:
## 리스트의 순서를 역순으로 변경 
list_2.reverse()
print(list_2)

In [ ]:
# 문자 데이터들의 모음인 리스트에서 오름차순 정렬
list_3 = ['ab', 'c', 'b', 'ac']
list_3.sort()
print(list_3)

In [ ]:
# 내림차순 정렬 변경
list_1.sort()
list_1.reverse()
print(list_1)

In [ ]:
list_3.sort(reverse=True)
print(list_3)

In [ ]:
## 데이터를 추가하는 함수 : append()
list_1.append(20)
print(list_1)

In [ ]:
## insert(위치, 데이터)
list_1.insert(2, 11)
print(list_1)

In [ ]:
# 리스트에서 데이터를 제거 
# 맨뒤의 데이터를 제거 : pop()
list_1.pop()
print(list_1)

In [ ]:
# 특정한 데이터를 제거  : remove(데이터)
list_1.remove(11)
print(list_1)

In [ ]:
# 특정 위치의 데이터를 제거 : del
del list_1[1]
print(list_1)

In [ ]:
# 리스트의 결합 :  리스트를 확장 
list_1.extend(list_2)
print(list_1)

In [ ]:
list_1 + [40, 20, 10, 30, 40, 20, 10]

In [ ]:
# copy() : 데이터를 복사
new_list = list_1.copy()
new_list2 = list_1

In [ ]:
print(new_list)
print(new_list2)
print(list_1)

In [ ]:
# new_list를 수정 
new_list.remove(10)
print(new_list)
print(new_list2)
print(list_1)

In [ ]:
# new_list2를 수정 
new_list2.remove(20)
print(new_list)
print(new_list2)
print(list_1)

In [ ]:
# 딕셔너리 
# key : value로 데이터들이 이루어진다. 
dict_1 = {
    'name' : 'test', 
    'age' : 20, 
    'phone' : '01012345678'
}

In [ ]:
print(dict_1, type(dict_1))

In [ ]:
# 리스트에서 특정 위치의 데이터를 추출
# 리스트명[위치]
# 리스트명[시작위치:종료위치]
print(new_list[3])
print(new_list[2:4])
print(new_list[4:])
print(new_list[:3])

In [ ]:
# 딕셔너리 데이터에서 특정 위치의 데이터 추출
print(dict_1['name'])
print(dict_1['age'])

### 외부에서 데이터를 로드하는 경우 일반적인 데이터의 형태
1. 리스트 안에 딕셔너리 
    - [{'name' :'test','age':20 }, {'name' : 'test2', 'age':23}, ...]
2. 딕셔너리 안에 리스트
    - {'name' : ['test', 'test2'], 'age' : [20, 23], ...}

In [ ]:
sample_data = [
    {'name':'test', 'age':20}, 
    {'name' : 'test2','age' : 23}
]
## sample_data 2차원 데이터 형태
## sample_data에서 'test' 문자열만 출력
print(sample_data)
print(sample_data[0])
print(sample_data[0]['name'])

In [84]:
sample_data2 = {
    'name' : ['test', 'test2'], 
    'age' : [20, 23]
}
# sample_data2에서 23를 추출
print(sample_data2)
print(sample_data2['age'])
print(sample_data2['age'][1])

{'name': ['test', 'test2'], 'age': [20, 23]}
[20, 23]
23

### 반복문 
- for문
    - for i in range(시작값, 종료값, 증감값)
        - i라는 변수에 range에 있는 시작값으로 대입하여 반복 실행할 때마다 i 값을 증감값 만큼 더해서 실행
        - 종료값이 되거나 커진다면(작아진다면) 반복 실행을 종료
    - for i in 자료형데이터(튜플, 리스트)
        - i라는 변수에 (튜플이나 리스트)의 각 원소 값들이 대입되어 반복 실행

In [91]:
# range()함수
# 일반적인 range(시작값, 종료값, 증감값)
print(range(10))
print(list(range(1, 10, 1)))
print(list(range(10)))

range(0, 10)
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [92]:
# for문 
for i in range(1, 5, 1):
    print(i)

1
2
3
4

In [93]:
_list = ['test', 'test2', 'test3']
for i in _list:
    print(i)

test
test2
test3

In [95]:
for i in range(0, len(_list), 1):
    # i 에 들어오는 데이터는 : (0, 1, 2)
    # print(i)
    print(_list[i])

test
test2
test3

In [96]:
# 1부터 10까지의 합(반복문 이용)
result = 0

result += 1
result += 2
result += 3
result += 4
result += 5
result += 6
result += 7
result += 8
result += 9
result += 10
print(result)

55

In [ ]:
result = 0
result2 = 0

for i in range(1, 11, 1):
    # print(i)
    # 첫번째 반복 : i = 1, result = 0 --> result = result(0) + i(1) --> result = 1
    # 두번째 반복 : i = 2, result = 1 --> result = result(1) + i(2) --> result = 3
    # 세번째 반복 : i = 3, result = 3 --> result = result(3) + i(3) --> result = 6
    # 네번째 반복 : i = 4, result = 6 --> result = result(6) + i(4) --> result = 10
    result = result + i
    result2 += i

    print(result, result2)

In [ ]:
# while문

# 초기값(시작값)
i = 1

# while 조건식 작성
while i <= 10:
    print(i)
    i = i + 2

In [101]:
# 합계라는 초기값을 0을 대입 생성
result = 0
# 초기값을 설정 
i = 1
while i < 11:
    # 첫번째 반복 : i = 1, result = 0 --> result = result(0) + i(1) --> result = 1
    # 두번째 반복 : i = 2, result = 1 --> result = result(1) + i(2) --> result = 3
    result = result + i
    # 첫번째 반복 : i = 1, i = i(1) + 1 --> i = 2
    # 두번째 반복 : i = 2, i = i(2) + 1 --> i = 3
    i = i + 1
print(result)

55

In [102]:
result = 0 
i = 1
while i < 11:
    # 첫번째반복 : i = 1, i = i(1) + 1 --> i = 2
    # 두번째반복 : i = 2, i = i(2) + 1 --> i = 3
    # ...
    # 마지막반복 : i = 10, i = i(10) + 1 --> i = 11
    i += 1
    # 첫번째반복 : i = 2, result = 0 --> result = result(0) + i(2) --> result = 2
    # 두번째반복 : i = 3, result = 2 --> result = result(2) + i(3) -- > result = 5
    # ...
    # 마지막반복 : i = 11, result = 54 --> result = result(54) + i(11) --> result = 65
    result += i

print(result)

65

In [104]:
## break  : 반복문을 강제로 종료
for i in range(1, 10, 1):
    print(i)
    if i == 4:
        break

1
2
3
4

In [108]:
# 1부터 100까지의 합계를 구하는 중 
# 누적합이 2000을 넘어가는 시점이 언제인가?
result = 0
for i in range(1, 101, 1):
    # 63번째 반복 : i = 63, result = 1963 --> result(1963) >= 2000 -> False -> break 실행되지 않는다
    # 64번째 반복 : i = 64, result = 2016 --> result(2016) >= 2000 -> True -> break 실행(반복문이 종료)
    if result >= 2000:
        break
    # 63번째 반복 : result = result(1963) + i(63) --> result = 2016
    result += i
print(i, result)

64 2016

In [109]:
result = 0
for i in range(1, 101, 1):
    result += i
    if result >= 2000:
        break
print(i, result)

63 2016

In [113]:
# 1부터 n값까지 누적합을 할때 누적합이 80000이 넘어가는 시점이 언제인가?
result = 0
i = 1
# 반복횟수를 모르는 경우 (무한 반복 -> 특정한 조건이 참이되면 break를 이용하여 반복문을 종료)
while True:
    result += i
    if result >= 80000:
        break
    i += 1
print(i, result)

400 80200